DB_HOST="YOUR_DB_HOST"
DB_PORT="YOUR_DB_PORT"
DB_USER="YOUR_DB_USER"
DB_PASSWORD="YOUR_DB_PASSWORD"
DB_NAME="YOUR_DB_NAME"
SECRET_KEY="YOUR_SECRET_KEY"
MAIL_HOST="YOUR_MAIL_HOST"
MAIL_PORT="YOUR_MAIL_PORT"
MAIL_USER="YOUR_MAIL_USER"
MAIL_PASSWORD="YOUR_MAIL_PASSWORD"