# Database configuration variables
# In development you can find them in the file docker-compose.yml
DB_HOST=localhost
DB_PORT=5432
DB_USER=adminer
DB_PASSWORD=secret123
DB_NAME=food_delivery

# Secret phrase to sign your json web tokens
SECRET_KEY=itsVerySecret

# These variables are only necessary if you are going to use the mail delivery
# Here you put the credentials of your service
MAIL_HOST="YOUR_MAIL_HOST"
MAIL_PORT="YOUR_MAIL_PORT"
MAIL_USER="YOUR_MAIL_USER"
MAIL_PASSWORD="YOUR_MAIL_PASSWORD"